@use '../../scss/functions' as *;
@use '../../scss/mixins' as *;
@use '../../scss/variables' as *;

.card {
	background: v("card");
	aspect-ratio: 1 / 1;
	border-radius: 0.5em;
	padding: 2.5rem 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	overflow: hidden;
	transition: all 0.2s ease;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0.3rem;
	}

	&:hover {
		background: v("card-hovered");
	}

	&.facebook {
		&:before {
			background: v("facebook");
		}
	}
	&.twitter {
		&:before {
			background: v("twitter");
		}
	}
	&.instagram {
		&:before {
			background: v("instagram");
		}
	}
	&.youtube {
		&:before {
			background: v("youtube");
		}
	}

	&Header {
		display: flex;
		align-items: center;
		gap: 0.75em;
	}

	&Body {
		text-align: center;
	}

	&User {
		font-weight: 700;
		color: v("color-muted");
	}

	&Value {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
	}

	&ValueLabel {
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.3em;
		font-size: 0.9rem;
		color: v("color-muted");
	}
}

.cardSmall {
	background: v("card");
	border-radius: 0.5em;
	padding: 2rem;
	display: grid;
	grid-template-columns: repeat(2, auto);
	align-items: center;
	gap: 1.5rem;
	transition: all 0.2s ease;

	&:hover {
		background: v("card-hovered");
	}

	> * {
		&:nth-child(even) {
			justify-self: end;
		}
	}

	&ValueLabel {
		font-size: 1rem;
		font-weight: 700;
		color: v("color-muted");
		white-space: nowrap;
	}

	&Value {
		font-size: 2.5em;
		font-weight: 700;
		line-height: 1;
		align-self: end;
	}
}

.meta {
	font-weight: 700;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	font-size: 0.8rem;
	align-self: end;

	&:before {
		--size: 0.45em;
		content: "";
		border: v("size") solid currentColor;
	}

	&.up {
		color: v("up");

		&:before {
			border-color: transparent transparent currentColor transparent;
			border-top-width: 0;
		}
	}

	&.down {
		color: v("down");

		&:before {
			border-color: currentColor transparent transparent transparent;
			border-bottom-width: 0;
		}
	}
}
