@use 'sass:color' as *;
@use '../../scss/variables';
@use '../../scss/mixins' as *;
@use '../../scss/functions' as *;

.themeToggle {
	display: inline-flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	font-weight: 700;
}

.toggler {
	position: relative;
	display: inline-block;
	block-size: 22px;
	inline-size: 3rem;
	border-radius: 22px;
	transition: all 0.2s ease;
	background: v("toggler");
	margin-left: 1em;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transition: all 0.2s ease;
	}

	&:before {
		inline-size: 1rem;
		block-size: 1rem;
		border-radius: 1rem;
		background-color: v("toggler-handle");
		z-index: 2;
	}

	&.light {
		&:before {
			transform: translate(-115%, -50%);
		}
	}

	&.dark {
		&:before {
			transform: translate(15%, -50%);
		}
	}
}
