@use './variables' as *;

// Project Variables
:root {
	@each $name, $color in $colors {
		--#{$name}: #{$color};
	}

	@each $name, $color in $light {
		--#{$name}: #{$color};
	}

	&.dark-mode {
		@each $name, $color in $dark {
			--#{$name}: #{$color};
		}
	}

	@media (prefers-color-scheme: dark) {
		@each $name, $color in $dark {
			--#{$name}: #{$color};
		}
	}
}

// Project Defaults
* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html {
	height: 100%;
}

body {
	margin: 0;
}

@for $i from 1 through 6 {
	h#{$i} {
		margin: 0;
	}
}

p {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

img,
svg {
	vertical-align: middle;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

button {
	all: unset;
	-webkit-appearance: none;

	&:focus {
		outline: none;
	}
}
